a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

a:hover {
	color: gray;
}

p {
	margin-top: 0;
}

.title {
	font-weight: 500;
}

.url {
	color: gray;
}

.url:hover {
	text-decoration: underline;
}

.stats {
	color: hsl(0, 1%, 34%);
	font-size: 0.8rem;
}
